---
export const prerender = false;
---
<html lang="ja">
<head><meta charset="utf-8" /><title>BDL Cards Test</title></head>
<body style="background: #373A36; color: white; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h1>BDL CARDS 新規作成テスト</h1>
</body>
</html>